<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.theleaderinyou">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OurShopActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConclusionActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterSeventeenActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterSixteenActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterFifteenActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterForteenActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterThirteenActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterTwelveActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterElevenActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterTenActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterNineActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterEightActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterSevenActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterSixActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterFiveActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterFourActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterThreeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterTwoActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChapterOneActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".IntroductionActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>